[Unit]
Description=Distributed Doc Conversion Service (Ubuntu light node)
After=network.target

[Service]
Type=simple
User=sergio7
WorkingDirectory=/var/www/markitdown
Environment=NODE_NAME=ubuntu
Environment=NODE_ROLE=light
Environment=PORT=5000
ExecStart=/usr/bin/python3 /var/www/markitdown/app.py
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
